<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807020993399-t29dpi7296kvm6cedcgqs2jkh2663adl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807020993399-t29dpi7296kvm6cedcgqs2jkh2663adl</string>
	<key>API_KEY</key>
	<string>AIzaSyAoABqbc_55YbCmrzWNjnWks8ei5L5NJtM</string>
	<key>GCM_SENDER_ID</key>
	<string>807020993399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appSeguimiento</string>
	<key>PROJECT_ID</key>
	<string>app-seguimiento-e60a2</string>
	<key>STORAGE_BUCKET</key>
	<string>app-seguimiento-e60a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807020993399:ios:03eebed281bf98bcb5df72</string>
</dict>
</plist>